$cherry: #cd2048;
$intensePink: #d51655;
$red: #dd1e18;
$blueberry: #07399b;
$purpleBerry: #050f99;
$candy: #fa5dfd;
$lightPinkPurple: #f2b6e7;
$lightLavendar: #d5d8fc;
$ocean: #40cee7;
$teal: #49f3dd;
$lightBlue: #a6d7fb;
$pink: #fd9e94;

$oceanBorder: .1em solid $ocean;
$fifthBorderRadius: .2em;

*,
body {
  background-color: $lightLavendar;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

@media (min-width: 40em) {
  .generic-flexbox-container {
    display: flex;
    gap: 2em;
  }
}