.report {
    background-color: #a6d7fb;
    border-bottom: .2em solid #cd2048;
    border-left: .3em solid #40cee7;
    border-right: .3em solid #40cee7;
    color: #050f99;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-evenly;
    width: 80%;
}

.reportH2{
    background-color: #a6d7fb;
    font-size: 2em;
}

.listIcon {
    background-color: #a6d7fb;
}

.reportP {
    background-color: #a6d7fb;
    font-size: 1em;
}